.button {
    border: 1px solid transparent;
    background-color: transparent;
    display: block;
    padding: 0;
    margin: 0;
    font-family: "ProximaNovaCond-Semibold", "Arial", sans-serif;
    font-weight: 600;
    color: #444444;
}
