.main-header {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1250px;
    padding: 32px 70px 33px 70px;
    margin: 0 auto;
    border: 1px solid #d9d9d9;

    @media (max-width: 768px) {
      max-width: 320px;
      border: 1px solid #d9d9d9;
      padding: 15px 16px 15px 16px;
    }
  }

  .main-nav__logo-link div{
    svg {
        width: 125px;
        height: 25px;
    }
  }