.hero {
    width: 1250px;
    margin: 0 auto;
    padding: 79px 0 0 0;

    @media (max-width: 768px) {
        width: 320px;
        margin: 0 auto;
        padding: 27px 0 0 0;
    }
}

.hero__discription {
    margin: 0 auto;
    width: 1250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 768px) {
        width: 320px;
        margin: 0 auto;
        padding: 50px 0 0 0;
    }
}

.hero__title {
    display: block;
    margin: 0 auto;
    padding: 0 0 30px 0;
    width: max-content;
}

.hero__title {
    display: block;
    margin: 0 auto;
    padding: 0 0 30px 0;
    width: max-content;
}

.hero__text {
    display: block;
    margin: 0 auto;
    padding: 0 0 79px 0;
    width: 1130px;
    font-family: "ProximaNovaCond-Semibold", "Arial", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: #444444;
}

.hero__map {
    display: block;
    margin: 0 auto;
    padding: 0 0 0 0;
    width: 1250px;
    background-color: #ffffff;
}