.package {
    width: 1110px;
    margin: 0 auto;
    padding: 0 0 0 0;
    background-color: #ffffff;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.06);

    @media (max-width: 768px) {
        width: 280px;
    }
}

.package__wrapper{
    width: 954px;
    margin: 0 auto;

    &:first-of-type {
        padding: 80px 0 0 0;
        border-bottom: 1px solid #F0F0F0;
    }
    &:last-of-type {
        margin: 70px auto 0 auto;
        padding: 0 0 80px 0;

        .package__list {
            margin: 0 auto;
            width: 566px;
        }

        .package__title {
            padding: 0 0 4px 0;
        }
    }

    @media (max-width: 768px) {
        &:first-of-type, &:last-of-type {
            width: 280px;
            margin: 0 auto;
            padding: 0 0 24px 0;

            .package__title {
                max-width: 280px;
                padding: 0 0 40px 0;
                font-size: 28px;
                line-height: 28px;
            }

            .package__list {
                max-width: 280px;
                margin: 0 auto;
            }

            .package__list {
                grid-template-rows: 1fr 1fr;
            }
        }

        &:last-of-type {
            .package__title {
                max-width: 280px;
                padding: 0 0 4px 0;
                font-size: 22px;
                line-height: 24px;
            }
        }
    }
}

.package__title {
    width: max-content;
    margin: 0 auto;
    padding: 0 0 50px 0;
    display: block;
}

.package__description {
    display: block;
    width: max-content;
    margin: 0 auto;
    padding: 0 0 50px 0;
    font-family: "ProximaNovaCond-Semibold", "Arial", sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #B01736;

    @media (max-width: 768px) {
        font-size: 22px;
        line-height: 24px;
    }
}

.package__list {
    width: 954px;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;

    &:first-of-type {
        margin-bottom: 75px;
    }

    @media (max-width: 768px) {
        width: 280px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;
    }
}

.package__item {
    width: 178px;
    margin: 0;
    padding: 0 0 0 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;

    @media (max-width: 768px) {
        width: 120px;

        &:last-of-type {
            margin: 0 auto;
            grid-column: 1 / 3;
        }
    }
}

.package__link {
    text-decoration: none;
}

.package__link div {
    background-color: #F0F0F0;
    display: block;
    width: 110px;
    height: 110px;
    margin: 0 auto 10px auto;
    padding: 0 0 0 0;
    border-radius: 50%;
    position: relative;

    svg {
        position: absolute;
        display: block;
        margin: 0 auto;
        padding: 0 0 0 0;
        width: 48px;
        height: 48px;
        top: 25%;
        left: 28.5%;
    }

    @media (max-width: 768px) {
        width: 80px;
        height: 80px;

        svg {
            width: 35px;
            height: 35px;
            top: 25%;
            left: 28.5%;
        }
    }
}

.package__caption {
    display: block;
    max-width: 125px;
    margin: 0 auto;
    padding: 0 0 0 0;
    font-family: "ProximaNovaCond-Regular", "Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #444444;
    text-decoration: none;

    @media (max-width: 768px) {
        font-size: 16px;
        line-height: 18px;
    }
}