h1.title {
    font-family: "ProximaNovaCond-Bold", "Arial", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    // color: $color-default-gray;
    color: #B01736;
}

h2.title {
    font-family: "ProximaNovaCond-Semibold", "Arial", sans-serif;
    font-weight: 600;
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    color: #444444;
}
