.container {
  min-width: 290px;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 0;
  padding-bottom: 0;
  width: 1250px;

  // планшетная версия — 768px - 1365px;

  // @include vp-1249 {
  //   padding: 0 45px;
  //   width: 768px;
  // }

  // мобильная версия — 320px - 767px;
  // @include vp-767 {
  //   padding: 0 15px;
  //   width: 320px;
  // }
}

.main-container {
  position: relative;
  z-index: 1;
}
