@font-face {
  font-family: "ProximaNova-Regular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../../public/fonts/ProximaNova-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "ProximaNova-Semibold";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../../public/fonts/ProximaNova-Semibold.woff2") format("woff2");
}

@font-face {
  font-family: "ProximaNovaCond-Regular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../../public/fonts/ProximaNovaCond-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "ProximaNovaCond-Semibold";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../../public/fonts/ProximaNovaCond-Semibold.woff2") format("woff2");
}

@font-face {
  font-family: "ProximaNovaCond-Bold";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../../public/fonts/ProximaNovaCond-Bold.woff2") format("woff2");
}
