// Viewports
$vp-320: 320px;
$vp-375: 375px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1250: 1250px;
$vp-1366: 1366px;
$vp-1440: 1440px;
$vp-1920: 1920px;

//colors
$color-default-gray: rgba(68, 68, 68, 0.267) !default;
