@font-face {
  font-family: "ProximaNova-Regular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "ProximaNova-SemiboldIt";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2");
}

@font-face {
  font-family: "ProximaNovaCond-Regular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ProximaNovaCond-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "ProximaNovaCond-SemiboldIt";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ProximaNovaCond-Semibold.woff2") format("woff2");
}
